
body{
    width: 100%;
    height: auto;
    background-image:url('../images/decision.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.lives{
    padding: 20px;
    color: white;
}

.thumb-img{

}

.clickable{
	cursor:pointer;
}

.hidden{
   visibility:hidden;
}

.shadowed{
 -webkit-box-shadow: 3px 3px 23px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 23px 0px rgba(50, 50, 50, 0.75);
		 box-shadow:         3px 3px 23px 0px rgba(50, 50, 50, 0.75);	
}
.greeting-text{
text-align:center;
}
.choice-box{
	display: inline-block;
    border-radius: 3px;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    position: absolute  !important;
    background-color:#FFD6A8;
}
.situation-text{
    display:block;
}
.name-text{
    display: inline-block;
}




.option-select{
	padding:5px 300px;
	margin: 0 5px;
	display:block;
	background-color:#00FF7F;
	vertical-align: bottom;
}



.situation-text-holder{
	text-align: center;
	display: block;
	width: 80%;
	transform: translateX(12%);
}

.copyright{
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 5px;
}

.popup{
    background-color:white;
    width:50%;
    height:auto;
}

.popup .popup-content{
    padding: 10px;
    font-size: 20px;
}


.popup button{
    background-color: #FFD6A8;
    border: none;
    padding: 5px 30px;
    border-radius: 4px;
    margin: 5px;
    color: white;
}

.popup-lightbox{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.5);
    z-index:1111;
    font-size: 25px;
    font-family: Arial;

}

.shadowed{
 -webkit-box-shadow: 3px 3px 23px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 23px 0px rgba(50, 50, 50, 0.75);
		 box-shadow:         3px 3px 23px 0px rgba(50, 50, 50, 0.75);
}

.middle-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}